VITE_API_BASE_URL=http://localhost:5119

# From https://console.cloud.google.com/apis/credentials (OAuth 2.0 Client ID, type "Web application")
VITE_GOOGLE_CLIENT_ID=

# From https://entra.microsoft.com (App registrations > your app > Application (client) ID)
VITE_MICROSOFT_CLIENT_ID=
# "common" allows both personal and work/school Microsoft accounts
VITE_MICROSOFT_TENANT_ID=common
